---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";

import redDress from "../img/red_dress.png";
import cartao from "../img/cartao.png";
import casa from "../img/casa.png";


import blueStar from "../img/blue_star.png";
import estrela from "../img/estrela.png";
import bathroom from "../img/bathroom.png";
---

<Layout title="Works | Viviane">
  <NavBar />

  <main class="flex h-full items-center justify-center">
    <div class="flex mr-5">
      <div class="mr-5">
        <Image class="rounded-img " src={redDress} width="213" height="372" alt="Vestido vermelho" loading="eager" />
      </div>

      <div class="flex flex-col justify-between">
        <div>
          <Image class="rounded-img" src={casa} width="218" height="176" alt="Vestido vermelho" loading="eager" />
        </div>

        <div>
          <Image class="rounded-img" src={cartao} width="218" height="176" alt="Vestido vermelho" loading="eager" />
        </div>
      </div>
    </div>


    <div class="flex">
      <div class="mr-5">
        <Image class="rounded-img" src={blueStar} width="213" height="372" alt="Vestido vermelho" loading="eager" />
      </div>

      <div class="flex flex-col justify-between">
        <div>
          <Image class="rounded-img" src={estrela} width="218" height="176" alt="Vestido vermelho" loading="eager" />
        </div>

        <div>
          <Image class="rounded-img" src={bathroom} width="218" height="176" alt="Vestido vermelho" loading="eager" />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .rounded-img {
    border-radius: 10px;
  }
</style>
