---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";

import redDress from "../img/red_dress.png";
import cartao from "../img/cartao.png";
import casa from "../img/casa.png";


import blueStar from "../img/blue_star.png";
import estrela from "../img/estrela.png";
import bathroom from "../img/bathroom.png";

const titleStyle = `absolute rounded-b-lg  w-full px-2 py-3 bottom-0 inset-x-0
bg-gradient-to-t from-black/80 from-20% via-70% text-white subtitle-font
font-semibold leading-4`;
---

<Layout title="Works | Viviane">
  <NavBar />

  <main class="flex h-full items-center justify-center">
    <div class="flex mr-5">
      <div class="mr-5 relative scale-on-hover">
        <Image class=" rounded-lg  h-full" src={redDress} width="213" height="372" alt="Vestido vermelho" loading="eager" />
        <div class={titleStyle}> Please, I'm a Star </div>
      </div>

      <div class="flex flex-col justify-between">
        <div class="relative scale-on-hover">
          <Image class="rounded-lg" src={casa} width="218" height="176" alt="Vestido vermelho" loading="eager" />
          <div class={titleStyle}>The Coffe</div>
        </div>

        <div class="relative scale-on-hover">
          <Image class="rounded-lg" src={cartao} width="218" height="176" alt="Vestido vermelho" loading="eager" />
          <div class={titleStyle}>Lots of Love</div>
        </div>
      </div>
    </div>


    <div class="flex">
      <div class="mr-5 relative scale-on-hover">
        <Image class="rounded-lg" src={blueStar} width="213" height="372" alt="Vestido vermelho" loading="eager" />
          <div class={titleStyle}>Blue Star</div>
      </div>

      <div class="flex flex-col justify-between">
        <div class="relative scale-on-hover">
          <Image class="rounded-lg" src={estrela} width="218" height="176" alt="Vestido vermelho" loading="eager" />
          <div class={titleStyle}>Estrella</div>
        </div>

        <div class="relative scale-on-hover">
          <Image class="rounded-lg" src={bathroom} width="218" height="176" alt="Vestido vermelho" loading="eager" />
          <div class={titleStyle}>A Bathroom</div>
        </div>
      </div>
    </div>
  </main>
</Layout>


<style>
.scale-on-hover { transition: all .3s ease-in-out; }
.scale-on-hover:hover { transform: scale(1.1); }
</style>
